.header {
    background: $off-black;
    color: white;
    padding: $m-size 0;
    margin-bottom: $m-size;
}

// BEM -> Block Element Modifier
// __ for elements
// -- for modifiers

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

.header__user {
  align-items: center;
  color: #a5afd7;
  display: flex;
}

.header__user-avatar {
  border-radius: 50%;
  height: 40px;
  margin: 0 $s-size;
  width: 40px;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}