{
  "presets": [
      "env",
      "stage-1",
      "react"
  ],
  "plugins": [ 
      "transform-class-properties",
      "transform-object-rest-spread"
  ],
  "only": [
    "./**/*.js",
    "node_modules/jest-runtime"
  ],
  "auxiliaryCommentBefore": "istanbul ignore next"
}